
bin/ZeroNet-CLI-win-dist-win64/data/*.*
bin/ZeroNet-CLI-win-dist-win64/log/*
bin/ZeroNet-CLI-win-dist-win64/data/1HeLLo4uzjaLetFx6NH3PMwFP3qbRbTf3D/
bin/ZeroNet-CLI-win-dist-win64/data/1Name2NXVi1RDPDgf5617UoW7xA6YrhM9F/
